/* Theme configuration */
@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-primary-50: #edf3ff;
  --color-primary-500: #1052e0;
  --color-neutrals-white: #ffffff;
  --color-neutrals-300: #a3acb6;
  --color-neutrals-500: #566574;
  --color-neutrals-700: #303e49;
  --color-success-500: #1e976c;

  --text-lg: 1.125rem;

  --shadow-level-1: 0px 4px 8px 0px rgb(0 0 0 / 0.08);

  --breakpoint-xl: 85rem;
}
